// -----------------------------------------------------------------
//  Quote Element
// -----------------------------------------------------------------

%q,
q {
quotes: "‘" "’" "“" "”";

  &:before {
    content: "‘";
    content: open-quote;
  }

  &:after {
    content: "’";
    content: close-quote;
  }

  q:before {
    content: "“";
    content: open-quote;
  }

  q:after{
    content: "”";
    content: close-quote;
  }

  // Hang quote if it is the first child in an element
  &:first-child {
    display: inline-block;
    text-indent: -0.22em;
  }
}

// Example mark-up:
// --------------------------------------------------------
// <q>Tell him about the twinkie.</q>



// -----------------------------------------------------------------
//  Blockquote
// -----------------------------------------------------------------

%blockquote,
blockquote {
  font-size: $h5-font-size;
  font-style: italic;

  p {
    font-style: normal;
    margin-bottom: 0;

    &:after,
    &:before {
      font-size: $h4-font-size;
      line-height: 0;
      position: relative;
      top: 2px;
    }

    &:after {
      content: "\201D";
      right: -1px;
    }

    &:before {
      content: "\201C";
      left: -1px;
    }
  }

  small {
    font-style: normal;
    padding-left: .875em;

    &:before {
      content: "– ";
    }
  }
}

// Example mark-up:
// --------------------------------------------------------
// <blockquote>
//   <p>
//     copy goes here
//   </p>
//   <small>
//     <cite>
//       Citation goes here
//     </cite>
//   </small>
// </blockquote>
