// -----------------------------------------------------------------
//  Floats
// -----------------------------------------------------------------

// Just a standard float helper class
.float-left {
  float: left;
}

.float-right {
  float: right;
}


// float left or right with additional margins
.callout-float-left {
  @extend .float-left;
  margin: 1em 1em 1em 0;
}

.callout-float-right {
  @extend .float-right;
  margin: 1em 0 1em 1em;
}
