// -----------------------------------------------------------------
//  Simple Percentage Grids
//
//  Basic layouts can be created using the width
//  add-on classes in combination
//  with a .row parent element.
// -----------------------------------------------------------------

.grid {
  @extend %clearfix;
  margin-left: -1.5em;
  margin-bottom: 1.25em;

  > [class*="w-"] {
    float: left;
    min-height: 1px;
    padding-left: 1.5em;
    position: relative;

    .grid {
      margin-bottom: 0;

      @media screen and ( max-width: 720px ) {
        > [class*="w-"]:last-child,
        > .w-force {
          margin-bottom: 0;
        }
      }
    }

    @media screen and ( max-width: 720px ) {
      margin-bottom: 1.25em;
    }
  }
}


.grid--gutters-wide {
  margin-left: -2.5em;

  > [class*="w-"] {
    padding-left: 2.5em;
  }
}

.grid--gutters-narrow {
  margin-left: -.5em;

  > [class*="w-"] {
    padding-left: .5em;
  }
}
