// -----------------------------------------------------------------
//  Simple Percentage Grids
//
//  Basic layouts can be created using the width
//  add-on classes in combination
//  with a .row parent element.
// -----------------------------------------------------------------

.row {
  @extend %clearfix;
  margin-bottom: 1.25em;
  margin-left: -2.5em;

  > [class^="w-"] {
    float: left;
    margin-bottom: 0; // just in case an element
                      // w/margin is used w/this class
    min-height: 1px;
    padding-left: 2.5em;
    position: relative;

    &.float-right {
      @extend .float-right;
    }
  }
}

// Example mark-up:
// -----------------------------------------------------------------
// <div class="row">
//   <div class="w-60">
//     ...
//   </div>
//   <div class="w-40">
//     ...
//   </div>
// </div>
