// ----------------------------------------------------------------------------
//  Styled Select Input Pattern
// ----------------------------------------------------------------------------

// \9 IE hacks in place to work around the fact that IE easily
// let you hide the default browser select down arrow.

// Drop Down Selection
.select-container {
  @extend %shared-input-styling;
  overflow: hidden \9;
  padding: 0;
  position: relative;

  &:after {
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
    bottom: 0;
    content: '';
    height: .8em;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 0;
    transform-origin: top center;
    transform: rotate(45deg);
    width: .8em;
  }
}

.input-select {
  -webkit-appearance: textarea;
     -moz-appearance: window;
  background: none;
  border: 0;
  display: block;
  margin: 0;
  padding: 4px;
  width: 100%;
  width: 115% \9;
  z-index: 2;

  // Remove the default select down arrow in IE10+
  &::-ms-expand {
    display: none;
  }
}

// Example mark-up:
// ----------------------------------------------------------------------------
// <div class="select-container">
//    <select class="input-select">
//      <option>...</option>
//      <option>...</option>
//      <option>...</option>
//    </select>
//  </div>
