// -----------------------------------------------------------------
//  Input Elements -- Range
// -----------------------------------------------------------------

input[type=range] {
  -webkit-appearance: none;
  margin: 1.125em 0;
  width: 100%;

  &:focus {
    outline: none // won't work in firefox;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  animate: 0.2s;
  background: $input-range-background-color;
  border-radius: $input-border-radius;
  border: $input-border;
  box-shadow: $input-range-box-shadow--1;
  cursor: pointer;
  height: 8px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $c-white;
  border-radius: 3px;
  border: $input-border;
  box-shadow: $input-range-box-shadow--2,
              $input-range-box-shadow--1;
  cursor: pointer;
  height: 16px;
  margin-top: -6px;
  width: 32px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $input-range-background-color;
}

input[type=range]::-moz-range-track {
  animate: 0.2s;
  background: $input-range-background-color;
  border-radius: 1.3px;
  border: .2px solid #010101;
  border: $input-border;
  box-shadow: $input-range-box-shadow--1;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  background: $c-white;
  border-radius: 3px;
  border: $input-border;
  box-shadow: $input-range-box-shadow--2,
              $input-range-box-shadow--1;
  cursor: pointer;
  height: 16px;
  width: 32px;
}

input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px $c-black, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px $c-black, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  background: $c-white;
  border-radius: 3px;
  border: $input-border;
  box-shadow: $input-range-box-shadow--2;
  cursor: pointer;
  height: 16px;
  width: 32px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
