// ----------------------------------------------------------------------------
//  List Elements
// ----------------------------------------------------------------------------

// Ordered / Unordered Lists

ol, ul {
  @extend %global-margin-base;
  padding-left: 1.5em;

  ol, ul {
    margin-top: 1em;
  }
}


ol ol {
  list-style-type: lower-alpha;

  ol {
    list-style-type: lower-roman;
  }
}


li {
  @extend %global-margin-base;
  margin-left: 1em;
}



// Description Lists

dl {
  @extend %global-margin-base;
}


dt {
  @extend %bold;
}


dd {
  @extend %global-margin-base;
  padding-left: 1.5em;
}
