// ----------------------------------------------------------------------------
//  Figure & Figcaption Elements
// ----------------------------------------------------------------------------

%figure,
figure {
  @extend %global-margin-base;
  background: $c-gray-lightest;
  border: 1px solid $c-gray;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  > * {
    display: block;
    margin: .25em;
    max-width: 100%;
    width: calc(100% - .5em);
  }

  figcaption {
    margin: 0;
    width: auto;

    :last-child {
      margin-bottom: 0;
    }
  }
}


%figcaption,
figcaption {
  background: #f3f3f3;
  padding: 1em;
}
