// ----------------------------------------------------------------------------
//  Img & Svg Elements
// ----------------------------------------------------------------------------

%img-svg-shared {
  // [1] removes border when inside a link in IE 8 - 10
  // [2] colors alt text red if an image fails to load
  // [3] keeps images from extending beyond their container
  // [4] removes extra whitespace below images w/out needing
  //     to change to display: block;
  border: 0; // [1]
  color: $c-error; // [2]
  max-width: 100%; // [3]
  vertical-align: bottom; // [4]
}

img {
  @extend %img-svg-shared;
}


svg {
  @extend %img-svg-shared;
  max-height: 100%;

  &:not(:root) {
    // hides overflow in IE 9 - 11
    overflow: hidden;
  }
}
