// ----------------------------------------------------------------------------
//  Navigation
// ----------------------------------------------------------------------------

%nav,
nav {
  background: $c-base-nav-background;
  padding: 1em;

  ul,
  ol {
    @extend %list-clean;
    @extend %clearfix;
  }

  a {
    color: $c-base-nav-link;
    display: block;

    &:link,
    &:visited {
      color: $c-base-nav-link;
      text-decoration: none;
    }
  }
}

// nav - Example mark-up:
// ----------------------------------------------------------------------------
// <nav role="navigation>
//   <ul class="">
//     <li>
//       <a href="#!">Nav Item 1</a>
//     </li>
//     <li>
//       <a href="#!">Nav Item 2</a>
//     </li>
//     <li>
//       <a href="#!">Nav Item 3</a>
//     </li>
//   </ul>
// </nav>
