//  ----------------------------------------
//  Typography Library
//  ----------------------------------------

$base-font-size:                16px;
$base-font-family:              'Open Sans', sans-serif;
$base-line-height:              1.3;



// pixel valuations are based off 16px base-font-size
$h1-font-size:                  3em;       // 48px
$h2-font-size:                  2.5em;     // 40px
$h3-font-size:                  2em;       // 32px
$h4-font-size:                  1.5em;     // 24px
$h5-font-size:                  1.25em;    // 20px
$h6-font-size:                  1.125em;   // 18px

$base-font-size:                1em;       // 16px
$small-font-size:               .75em;     // 12px
$tiny-font-size:                .625em;    // 10px



// Table Headings/Captions
$table-heading--col:            $base-font-size;
$table-heading--row:            $small-font-size;
