@charset "UTF-8";
/********************************************************************
*
*   Base Style Framework:
*     github.com/freshtilledsoil/base-style-framework
*     Version 1.0.1
*     Last Updated: 03.18.2015
*
*     Beyond Normalization, a base set of markup styling and
*     patterns to provide an easily configurable head-start
*     to any web project.
*
*   License:
*     The MIT License (MIT)
*
********************************************************************/
/********************************************************************
*
*   Config Files
*
********************************************************************/
/********************************************************************
*
*   Base Styling
*
*   Baseline / standardized styling for native HTML elements
*   that will work in all modern browsers, and IE8 +, by
*   incorporating standards set by normalize.css (v3.0.2), and
*   expanding on them with default styling by the team at
*   Fresh Tilled Soil.
*
********************************************************************/
[hidden], template, audio:not([controls]) {
  display: none; }

::-moz-selection {
  background: #2f578e;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #2f578e;
  color: #fff;
  text-shadow: none; }

article, aside,
details, footer,
header, main,
menu, nav, section,
summary, figcaption {
  display: block; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html,
body {
  background: #fdfdfd;
  margin: 0;
  min-height: 100%;
  padding: 0; }

body {
  color: #595959;
  font: 1em "Open Sans", sans-serif, sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased; }

.txt-h1,
h1, .txt-h2,
h2, .txt-h3,
h3, .txt-h4,
h4 {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.333;
  margin: 0 0 .75em 0; }

h1, .txt-h1 {
  font-size: 3em; }

h2, .txt-h2 {
  font-size: 2.5em; }

h3, .txt-h3 {
  font-size: 2em; }

h4, .txt-h4 {
  font-size: 1.5em; }

h5, .txt-h5 {
  font-size: 1.25em; }

h6, .txt-h6, caption {
  font-size: 1.125em; }

p {
  line-height: 1.75; }

p, ol, ul {
  margin-bottom: 1em;
  margin-top: 0; }

sub, sup, small, .txt-small {
  font-size: 0.75em;
  display: inline-block;
  line-height: 1.3; }

ins, cite, dt, b, strong {
  font-weight: 700; }

dfn, i, em {
  font-style: italic; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted; }

abbr {
  text-transform: uppercase; }

ins {
  color: #038800; }

mark {
  background: #f5e700;
  color: #333;
  padding: 0 2px; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  background-color: transparent;
  color: #595959;
  font-weight: 600;
  text-decoration: none; }
  a:link {
    color: #3c6fb4;
    text-decoration: underline; }
  a:visited {
    color: #3663a1; }
  a:hover {
    color: #1b3251; }
  a:focus {
    color: #1b3251;
    outline: 1px dotted #3c6fb4; }
  a:active {
    outline: none;
    text-decoration: none; }

ol, ul {
  padding-left: 1.5em; }
  ol ol, ol ul, ol ol, ol ul, ul ol, ul ul, ul ol, ul ul {
    margin-top: 1em; }

ol ol {
  list-style-type: lower-alpha; }

li {
  margin-left: 1em; }

dd {
  padding-left: 1.5em; }

q {
  quotes: "‘" "’" "“" "”"; }
  q:before {
    content: "‘";
    content: open-quote; }
  q:after {
    content: "’";
    content: close-quote; }
  q:first-child {
    display: inline-block;
    text-indent: -0.22em; }

blockquote {
  font-size: 1.25em;
  font-style: italic; }
  blockquote p {
    font-style: normal;
    margin-bottom: 0; }
    blockquote p:after, blockquote p:before {
      font-size: 1.5em;
      line-height: 0;
      position: relative;
      top: 2px; }
    blockquote p:after {
      content: "\201D";
      right: -1px; }
    blockquote p:before {
      content: "\201C";
      left: -1px; }
  blockquote cite {
    font-style: normal;
    padding-left: .875em; }
    blockquote cite:before {
      content: "– "; }

code, kbd, samp, var, pre {
  font-family: monospace, monospace;
  font-size: 1em; }

code {
  background: #d6d6d6;
  padding: 2px 4px; }

kbd {
  border: 1px solid #d6d6d6;
  text-transform: uppercase;
  padding: 2px 4px; }

kbd kbd {
  border: 0;
  padding: 0; }

pre {
  overflow: auto;
  white-space: pre-wrap; }
  pre > code {
    background: #595959;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: block;
    line-height: 1.75;
    padding: .75em;
    text-transform: none; }

img, svg {
  border: 0;
  color: #e67373;
  max-width: 100%;
  vertical-align: bottom; }

svg {
  max-height: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  background: #f7f7f7;
  border: 1px solid #b2b2b2;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }
  figure > * {
    display: block;
    margin: .25em;
    max-width: 100%;
    width: calc(100% - .5em); }
  figure figcaption {
    margin: 0;
    width: auto; }
    figure figcaption:last-child {
      margin-bottom: 0; }

figcaption {
  background: #f3f3f3;
  padding: 1em; }

audio, canvas, video {
  color: #e67373;
  display: inline-block;
  max-width: 100%;
  vertical-align: baseline; }

audio:not([controls]) {
  height: 0; }

embed,
object {
  max-width: 100%; }

table {
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  width: 100%; }

thead {
  background: #f7f7f7; }

thead th {
  padding: .75em .5em; }

tfoot {
  background: #f7f7f7; }

tfoot td {
  font-size: 0.625em;
  font-weight: bold;
  font-weight: 600; }

tr {
  border-bottom: 1px solid #f0f0f0; }

tr:last-child {
  border-bottom: none; }

th, td {
  padding: 1em .5em;
  text-align: left;
  vertical-align: top; }

th {
  font-weight: bold;
  font-weight: 600; }

th[scope="row"] {
  font-size: 0.75em; }

th[scope="col"] {
  font-size: 1em; }

td {
  font-size: 0.75em; }

caption {
  font-weight: bold;
  caption-side: top;
  text-align: left; }

hr {
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  display: block;
  height: 1px;
  margin: 1.5em 0; }

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  display: inline-block;
  height: 16px;
  max-width: 100%;
  padding: 2px;
  vertical-align: baseline;
  width: 100%; }
  progress::-webkit-progress-bar {
    background: #f7f7f7; }
  progress::-moz-progress-bar {
    background: #bfe673;
    border-radius: 2px; }
  progress::-webkit-progress-bar {
    background: #bfe673;
    border-radius: 2px; }
  progress:not([value])::-moz-progress-bar {
    background: none; }
  progress:not([value])::-webkit-progress-bar {
    background: none; }

iframe {
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  display: block;
  min-height: 100px;
  width: 100%; }

dialog {
  background: #fff;
  border-radius: 4px;
  border: 2px solid #b2b2b2;
  display: none;
  padding: 1.125em;
  margin: auto;
  max-width: 80%; }
  dialog [open] {
    display: block; }
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }

label {
  color: #7f7f7f;
  display: block;
  margin-bottom: .5em;
  cursor: pointer; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.625em;
  line-height: 1.75; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b2b2b2;
  font-style: italic; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b2b2b2;
  font-style: italic; }

input::webkit-input-placeholder,
textarea::webkit-input-placeholder {
  color: #b2b2b2;
  font-style: italic; }

input[type="color"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  box-shadow: inset 0 2px 0 0 #eaeaea;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: normal;
  margin: 0;
  max-width: 100%;
  padding: .75em;
  text-transform: none;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em; }
  input[type="color"]:focus,
  input[type="date"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus,
  textarea:focus {
    background: #fff;
    border-color: #73ace6;
    box-shadow: 0 0 0 1px #6baceb;
    outline: 0; }

input[type="color"],
input[type="date"],
input[type="number"] {
  max-width: 208px; }

input[type="color"] {
  padding: .25em; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }

textarea {
  display: block;
  min-width: 60px;
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[disabled],
textarea[disabled] {
  background-color: #f7f7f7;
  box-shadow: none;
  cursor: not-allowed; }

input[readonly],
textarea[readonly] {
  background-color: #fff; }

input[required]:valid,
textarea[required]:valid {
  border-color: #bfe673; }

output {
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  display: inline-block;
  margin: auto .25em;
  padding: .5em; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  border-bottom-width: 3px;
  padding: 0.9em 1.15em 0.7em;
  -webkit-appearance: button;
  background: #fff;
  color: #808080;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: normal;
  overflow: visible;
  transition: border-color .2s, background-color .075s;
  text-transform: uppercase;
  margin-bottom: 1em; }
  button:hover, button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    border-color: #9ec6ee;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.35);
    outline: none; }
  button:active,
  input[type="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active {
    background: #73ace6;
    color: #fff;
    transform: translate(0, 1px); }

[disabled][role="button"], button[disabled],
input[disabled][type="button"],
input[disabled][type="reset"],
input[disabled][type="submit"] {
  background: #f0f0f0;
  color: #ccc; }

[disabled][role="button"]:hover, button[disabled]:hover,
input[disabled][type="button"]:hover,
input[disabled][type="reset"]:hover,
input[disabled][type="submit"]:hover {
  border: 1px solid #f0f0f0;
  border-bottom-width: 3px;
  box-shadow: none; }

[disabled][role="button"]:active, button[disabled]:active,
input[disabled][type="button"]:active,
input[disabled][type="reset"]:active,
input[disabled][type="submit"]:active {
  transform: none; }

input[type="checkbox"],
input[type="radio"] {
  margin-right: .5em;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  outline: none;
  padding: 0; }

button,
input[type="reset"],
input[type="submit"],
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="file"] {
  cursor: pointer;
  display: block; }

select {
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  margin-bottom: 1em; }
  select [multiple] {
    display: block;
    min-height: 50px;
    padding: 4px;
    resize: vertical;
    width: 100%; }

option {
  padding: 4px; }
  option [disabled] {
    background: rgba(0, 0, 0, 0.05);
    display: none; }

optgroup {
  font-weight: bold;
  font-style: normal; }
  optgroup option {
    padding-left: 16px; }

input[type=range] {
  -webkit-appearance: none;
  margin: 1.125em 0;
  width: 100%; }
  input[type=range]:focus {
    outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  animate: 0.2s;
  background: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  box-shadow: inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 8px;
  width: 100%; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px #ddd, inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 16px;
  margin-top: -6px;
  width: 32px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f7f7f7; }

input[type=range]::-moz-range-track {
  animate: 0.2s;
  background: #f7f7f7;
  border-radius: 1.3px;
  border: .2px solid #010101;
  border: 1px solid #d6d6d6;
  box-shadow: inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 8.4px;
  width: 100%; }

input[type=range]::-moz-range-thumb {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px #ddd, inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 16px;
  width: 32px; }

input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  cursor: pointer;
  height: 8.4px;
  width: 100%; }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #0a0a0a, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #0a0a0a, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-thumb {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px #ddd;
  cursor: pointer;
  height: 16px;
  width: 32px; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

.is-disabled, [disabled] {
  cursor: not-allowed;
  opacity: .75; }
  .is-disabled + label,
  .is-disabled + label, [disabled] + label,
  [disabled] + label {
    pointer-events: none; }

.is-clean {
  margin: 0;
  padding: 0;
  list-style: none; }

/********************************************************************
*
*   Layout
*
********************************************************************/
/********************************************************************
*
*   Modules
*
********************************************************************/
.alert {
  background: #f6f6f6;
  border-radius: 2px;
  border: 1px solid #71abe8;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
  padding: 1em; }
  .alert > p {
    line-height: 1.2;
    margin: 0;
    padding: 0; }

.alert-success {
  background: #EBF8D4;
  border-color: #BEE86C;
  color: #597F0C; }

.alert-warning {
  background: #FDFCD5;
  border-color: #FCF376;
  color: #CC9F28; }

.alert-error {
  background: #F7EDED;
  border-color: #E87271;
  color: #CC3D3D; }

.btn,
.btn-cta,
.btn-cancel {
  min-width: 220px; }
  .btn [disabled],
  .btn [disabled]:hover,
  .btn-cta [disabled],
  .btn-cta [disabled]:hover,
  .btn-cancel [disabled],
  .btn-cancel [disabled]:hover {
    background: #f0f0f0;
    border: 1px solid #ccc; }

.btn {
  background: #3c6fb4;
  border-color: #3663a1;
  color: #fff; }
  .btn:hover, .btn:focus {
    background: #3663a1;
    border-color: #2f578e; }

.btn-cta {
  background: #73ace6;
  border-color: #5d9fe2;
  color: #fff; }
  .btn-cta:hover, .btn-cta:focus {
    background: #5d9fe2;
    border-color: #4892de; }

.btn-cancel {
  background: #f7f7f7;
  color: #7f7f7f;
  border-color: #d6d6d6; }
  .btn-cancel:hover, .btn-cancel:focus {
    background: #eaeaea;
    border-color: #bdbdbd;
    color: #7f7f7f; }

/********************************************************************
*
*   Vendor
*
********************************************************************/

/*# sourceMappingURL=manisfest.css.map */
