// -----------------------------------------------------------------
//  Button Styling
// -----------------------------------------------------------------

$btn--background-color:         #3c6fb4;
$btn-cta--background-color:     #73ace6;
$btn-cancel--background-color:  $c-gray-lightest;



.btn,
.btn-cta,
.btn-cancel {
  min-width: 220px;

  &[disabled], &[disabled]:hover {
    background: #f0f0f0;
    border: 1px solid #ccc;
  }
}


.btn {
  background: $btn--background-color;
  border-color: darken($btn--background-color, 5%);
  color: $c-white;

  &:hover,
  &:focus {
    background: darken($btn--background-color, 5%);
    border-color: darken($btn--background-color, 10%);
  }
}




.btn-cta {
  background: $btn-cta--background-color;
  border-color: darken($btn-cta--background-color, 5%);
  color: $c-white;

  &:hover,
  &:focus {
    background: darken($btn-cta--background-color, 5%);
    border-color: darken($btn-cta--background-color, 10%);
  }
}




.btn-cancel {
  background: $btn-cancel--background-color;
  color: #7f7f7f;
  border-color: $c-gray-light;

  &:hover,
  &:focus {
    background: darken($btn-cancel--background-color, 5%);
    border-color: darken($c-gray-light, 10%);
    color: #7f7f7f;
  }
}

