// -----------------------------------------------------------------
//  Emphasis Block
// -----------------------------------------------------------------

.emph-block {
  @extend %global-margin-base;
  background: $emph-background-color;
  border: 1px solid $c-grey;
  border-bottom-width: 3px;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 1em;
}
