// -----------------------------------------------------------------
//  Styled File Input Pattern
// -----------------------------------------------------------------

.is-disabled + .input-file-block {
  color: #ccc;
  pointer-events: none;

  .input-file-btn {
    border-color: #ccc;
  }
}

.input-file-block {
  @extend %shared-input-styling;
  padding: 0;
  position: relative;

  &:hover {
    .input-file-btn {
      @extend button:hover;
    }
  }

  &[disabled] ~ .input-file-placeholder,
  &[disabled] ~ .input-file-btn {
    color: #ccc;
  }
}

.input-file {
  height: 1px;
  left: -99999px;
  position: absolute;
  width: 1px;

  &:focus ~ .input-file-placeholder {
    background: #fff;
    border-color: #333;
    box-shadow: 0 0 0 1px #39CCCC;
  }
}

.input-file-placeholder {
  display: block;
  margin: 0;
  padding: .75em;
  position: relative;
}

.input-file-btn {
  @extend button;
  bottom: 0;
  border-radius: 0;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}


// Example mark-up:
// -----------------------------------------------------------------
// <label for="input_file">File Input</label>

// <div class="input-file-block">
//   <input type="file" id="input_file" class="input-file" />

//   <label for="input_file" class="input-file-placeholder">
//     Select a file...
//   </label>

//   <span class="input-file-btn">
//     Browse
//   </span>

// </div>
