// -----------------------------------------------------------------
//  Styled List Elements
// -----------------------------------------------------------------

.list-clean {
  @extend %list-clean;

  li {
    margin-left: 0;
  }
}

.list-num {
  list-style-type: decimal;
}

.list-bullets {
  list-style-type: disc;
}
