// -----------------------------------------------------------------
//  Form Grouping Elements & Labels
// -----------------------------------------------------------------

%form,
form {
  @extend %global-margin-base;
}


%label,
label {
  color: $c-label;
  display: inline-block;
  margin-bottom: .5em;

  &[for] {
    cursor: pointer;
  }
}


%fieldset,
fieldset {
  @extend %global-margin-base;
  border: $fieldset-border;
  margin: 0;
  padding: 0;

  label {
    display: block;
    margin-bottom: .5em;
  }
}


%legend,
legend {
  @extend .txt-base;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 .625em ;
}
