label {
  color: #7f7f7f;
  display: block;
  margin-bottom: .5em;
  cursor: pointer;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.625em;
  line-height: 1.75;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b2b2b2;
  font-style: italic;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b2b2b2;
  font-style: italic; }

input::webkit-input-placeholder,
textarea::webkit-input-placeholder {
  color: #b2b2b2;
  font-style: italic; }

input[type="color"],
input[type="date"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  box-shadow: inset 0 2px 0 0 #eaeaea;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: normal;
  margin: 0;
  max-width: 100%;
  padding: .75em;
  text-transform: none;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  
  &:focus {
    background: #fff;
    border-color: #73ace6;
    box-shadow: 0 0 0 1px #6baceb;
    outline: 0;
  }
  
}

input[type="color"],
input[type="date"],
input[type="number"] {
  max-width: 208px; }

input[type="color"] {
  padding: .25em; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    -webkit-appearance: none; }
}

textarea {
  display: block;
  min-width: 60px;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

input[disabled],
textarea[disabled] {
  background-color: #f7f7f7;
  box-shadow: none;
  cursor: not-allowed;
}
  
input[readonly],
textarea[readonly] {
  background-color: #fff;
}

input[required]:valid,
textarea[required]:valid {
  border-color: #bfe673;
}

output {
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  display: inline-block;
  margin: auto .25em;
  padding: .5em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  border-bottom-width: 3px;
  padding: 0.9em 1.15em 0.7em;
  -webkit-appearance: button;
  background: #fff;
  color: #808080;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: normal;
  overflow: visible;
  transition: border-color .2s, background-color .075s;
  text-transform: uppercase;
  margin-bottom: 1em;
  
  &:hover,
  &:focus {
    border-color: #9ec6ee;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.35);
    outline: none;
  }
  
  &:active {
    background: #73ace6;
    color: #fff;
    transform: translate(0, 1px);
  }
  
}

[disabled][role="button"], button[disabled],
input[disabled][type="button"],
input[disabled][type="reset"],
input[disabled][type="submit"] {
  background: #f0f0f0;
  color: #ccc;
}

[disabled][role="button"]:hover, button[disabled]:hover,
input[disabled][type="button"]:hover,
input[disabled][type="reset"]:hover,
input[disabled][type="submit"]:hover {
  border: 1px solid #f0f0f0;
  border-bottom-width: 3px;
  box-shadow: none;
}

[disabled][role="button"]:active, button[disabled]:active,
input[disabled][type="button"]:active,
input[disabled][type="reset"]:active,
input[disabled][type="submit"]:active {
  transform: none;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: .5em;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  outline: none;
  padding: 0;
}

button,
input[type="reset"],
input[type="submit"],
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="file"] {
  cursor: pointer;
  display: block;
}

select {
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  
  [multiple] {
    display: block;
    min-height: 50px;
    padding: 4px;
    resize: vertical;
    width: 100%;
  }
}

option {
  padding: 4px;
  
  [disabled] {
    background: rgba(0, 0, 0, 0.05);
    display: none;
  }
  
}

optgroup {
  font-weight: bold;
  font-style: normal;
  
  option {
    padding-left: 16px;
  }
  
} 

input[type=range] {
  -webkit-appearance: none;
  margin: 1.125em 0;
  width: 100%; 
  
  &:focus {
    outline: none;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  animate: 0.2s;
  background: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  box-shadow: inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 8px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px #ddd, inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 16px;
  margin-top: -6px;
  width: 32px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f7f7f7;
}

input[type=range]::-moz-range-track {
  animate: 0.2s;
  background: #f7f7f7;
  border-radius: 1.3px;
  border: .2px solid #010101;
  border: 1px solid #d6d6d6;
  box-shadow: inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px #ddd, inset 0 2px 0 0 #f2f2f2;
  cursor: pointer;
  height: 16px;
  width: 32px;
}

input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #0a0a0a, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #0a0a0a, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px #ddd;
  cursor: pointer;
  height: 16px;
  width: 32px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}