// -----------------------------------------------------------------
//  Horizontal Rule Element
// -----------------------------------------------------------------

hr {
  border: 0;
  border-bottom: $hr-border;
  display: block;
  height: 1px;
  margin: 1.5em 0;
}
