// -----------------------------------------------------------------
//  HTML & Inherits
// -----------------------------------------------------------------

// [1] Make a smarter Box Model
// [2] Prevent text size adjustment on orientation change
//     on iOS devices w/out disabling user zoom.
html {
     -moz-box-sizing: border-box; // [1]
  -webkit-box-sizing: border-box; // [1]
          box-sizing: border-box; // [1]
      -ms-text-size-adjust: 100%; // [2]
  -webkit-text-size-adjust: 100%; // [2]
}


*,
*:before,
*:after {
     -moz-box-sizing: inherit; // [1]
  -webkit-box-sizing: inherit; // [1]
          box-sizing: inherit; // [1]
}



// -----------------------------------------------------------------
//  HTML & Body
// -----------------------------------------------------------------

// Baseline for HTML, BODY elements
html,
body {
  background: $c-base-background;
  margin: 0;
  min-height: 100%;
  padding: 0;
}


// BODY specific baseline styles (if any)
body {
  color: $c-base-text;
  font: $base-font-size $base-font-family, sans-serif;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}


// -----------------------------------------------------------------
//  Text Selection
// -----------------------------------------------------------------

// Mixin setup
@mixin select-text( $select-bg, $txt-color, $txt-shadow ) {
  ::-moz-selection  {
    background:   $select-bg;
    color:        $txt-color;
    text-shadow:  $txt-shadow;
  }

  ::selection       {
    background:   $select-bg;
    color:        $txt-color;
    text-shadow:  $txt-shadow;
  }
}

// Global styling of user text selection highlighting
@include select-text (
                      $c-text-selection-background,
                      $c-text-selection-text,
                      $text-selection-text-shadow // text shadow set to none
                      );
// Include select-text into individual selectors
// to reset styling on a per element basis.



// -----------------------------------------------------------------
//  HTML5 Elements
// -----------------------------------------------------------------

// Set correct display definition for inconsitencies in varoious browsers
// ** all in IE 8/9, details/summary in IE 10/11 & Firefox, main in IE 11
article, aside,
details, footer,
header, main,
menu, nav, section,
summary, figcaption {
  display: block;
}



// -----------------------------------------------------------------
//  Global State Styling
// -----------------------------------------------------------------

:focus {
  box-shadow: none;
  //outline: 1px dotted blue;
}


%disabled,
.is-disabled,
[disabled] {
  cursor: not-allowed;
  opacity: .75;

  + label {
    pointer-events: none;
    // Set labels that follow inputs (like check boxes) to negate
    // the pointer cursor.
  }
}


// -----------------------------------------------------------------
//  Hidden Elements
// -----------------------------------------------------------------

// Properly hide '[hidden]' in IE 8-10
// Properly hide 'template' in IE 8-11, Safari and FireFox < 22
[hidden], template {
  @extend %display-none;
}
